.article-title {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  font-weight: 600;
}
.board-list {
  border-left: #D9D9D9;
}
.board {
  display: flex;
  position: relative;
  height: calc(100vh - 3.2rem - 1px);
}
.board-list {
  padding-top: 0.5rem;
  width: 17rem;
  position: absolute;
  right: 0;
  border-left: 1px solid #D9D9D9;
  height: calc(100% - 0.5rem);
}
.article {
  padding: 2.2rem 2.3rem;
}
.article-crate-time {
  font-size: 0.9rem;
  color: grey;
  font-weight: 400;
  margin-left: 0.5rem;
}
.list-element {
  padding: 0.2rem 1rem;
  font-weight: 300;
  border-left: 2px solid white;
}
.list-element-select {
  border-left: 2px solid var(--main-color);
  background-color: #EAF2FF;
  color: var(--main-color);
  font-weight: 400;
}
.list-element:hover:not(.list-element-select) {
  background-color: #fcfcfc;
  border-left: 2px solid #919191;
}
.tag {
  padding: 0.1rem 0.3rem;
  margin: 0.3rem 0;
  border-radius: 0.2rem;
}
.tag-selected {
  background-color: #EAF2FF;
  color: var(--main-color);
  font-weight: 400;
}