:root {
  --main-color: #196FF2;
}

.App {
  display: flex;
}
.link {
  text-decoration: none;
}
::selection {
  background-color: var(--main-color);
  color: white;
}

h1, h2, h3 {
  font-weight: 500;
}